<div class="contact-page">
  <div class="contact-container">
    <div class="contact-info">
      <h2>Contate-nos</h2>
      <div class="info-item">
        <i class="bi bi-telephone"></i>
        <p>Ligue para nós</p>
      </div>
      <p>1 (234) 567-891, 1 (234) 987-654</p>
      <div class="info-item">
        <i class="bi bi-geo-alt"></i>
        <p>Localização</p>
      </div>
      <p>121 Rock Street, 21 Avenue, New York, NY 92103-9000</p>
      <div class="info-item">
        <i class="bi bi-clock"></i>
        <p>Horário Comercial</p>
      </div>
      <p>Seg - Sex ...... 10h - 20h, Sáb, Dom ...... Fechado</p>
    </div>
    <div class="contact-form">
      <h2>Contacte-nos</h2>
      <form>
        <div class="form-group">
          <label for="name">Digite seu nome</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Digite um endereço de e-mail válido</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="message">Sua mensagem</label>
          <textarea id="message" name="message" required></textarea>
        </div>
        <button type="submit" class="btn-submit">Enviar</button>
      </form>
    </div>
  </div>
</div>